:root {
    /* Primary colors */
    --color-primary-50-light: #63c6fe;
    --color-primary-25-light: #15aafe;
    --color-primary: #017dc3;
    --color-primary-25-dark: #015e92;
    --color-primary-50-dark: #013e61;
    
    /* Secondary colors */
    --color-secondary-100-light: #f7e9c7;
    --color-secondary-75-light: #f7e9c7;
    --color-secondary-50-light: #efd28f;
    --color-secondary-25-light: #e7bc57;
    --color-secondary: #ffc85c;
    --color-secondary-25-dark: #a67c18;
    --color-secondary-50-dark: #6f5210;

    /* Tertiary colors */
    --color-tertiary: #F4EDE9;

    /* Grey colors */
    --color-grey-75-light: #f5f8fa;
    --color-grey-50-light: #e9ecef;
    --color-grey-25-light: #dee2e6;
    --color-grey: #adb5bd;
    --color-grey-25-dark: #495057;
    --color-grey-50-dark: #212529;

    /* Basic colors */
    --color-white: #0000;
    --color-black: #000000;

    /* Fonts size */
    --font-size-primary: 4.5rem;
    --font-size-secondary: 3.5rem;
    --font-size-tertiary: 3rem;
    --font-size-xxxlarge: 2.5rem;
    --font-size-xxlarge: 2.3rem;
    --font-size-xlarge: 2rem;
    --font-size-large: 1.8rem;
    --font-size-normal: 1.6rem;
    --font-size-small: 1.4rem;
    --font-size-xsmall: 1.2rem;
    --font-size-xxsmall: 1.1rem;
    --font-size-xxxsmall: 1rem;
}
